[submodule "third_party/aloha"]
	path = third_party/aloha
	url = https://github.com/Physical-Intelligence/aloha.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "scripts/rosbag-to-lerobot/rosbag2video"]
	path = scripts/rosbag-to-lerobot/rosbag2video
	url = git@github.com:Bradley-ChenYiYu/rosbag2video.git
